<div class="beer" style="width: 33.333%;">
      <img class="beerimg" src="{{image_url}}" alt="">
      <div class="beerbody">
        <h5 class="beerinfo">{{name}} {{tagline}}</h5>
        <p class="beerdescr">{{description}}</p>
      </div>
</div>